/Clock/DialogBox
/Clock/Clock/bin/Debug/Clock.exe
/Clock/Clock/bin/Debug/Clock.exe.config
/Clock/Clock/bin/Debug/Clock.pdb
/Clock/Clock/bin/Debug/Clock.vshost.exe
/Clock/Clock/bin/Debug/Clock.vshost.exe.config
/Clock/Clock/bin/Debug/Clock.vshost.exe.manifest
/Clock/Clock/bin/Debug/ColckLibrary.dll
/Clock/Clock/bin/Debug/ColckLibrary.pdb
/Clock/Clock/bin/Debug/Configure.xml
/Clock/Clock/bin/Debug/NetworkLibrary.dll
/Clock/Clock/bin/Debug/NetworkLibrary.pdb
/Clock/Clock/bin/Debug/XmlSerializer.dll
/Clock/Clock/bin/Debug/XmlSerializer.pdb
/Clock/ColckLibrary/bin/Debug/ColckLibrary.dll
/Clock/ColckLibrary/bin/Debug/ColckLibrary.pdb
/Clock/ColckLibrary/obj/Debug/ColckLibrary.csproj.FileListAbsolute.txt
/Clock/ColckLibrary/obj/Debug/ColckLibrary.csprojResolveAssemblyReference.cache
/Clock/ColckLibrary/obj/Debug/ColckLibrary.dll
/Clock/ColckLibrary/obj/Debug/ColckLibrary.pdb
/Clock/ColckLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Clock/NetworkLibrary/bin/Debug/NetworkLibrary.dll
/Clock/NetworkLibrary/bin/Debug/NetworkLibrary.pdb
/Clock/NetworkLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Clock/NetworkLibrary/obj/Debug/NetworkLibrary.csproj.FileListAbsolute.txt
/Clock/NetworkLibrary/obj/Debug/NetworkLibrary.csprojResolveAssemblyReference.cache
/Clock/NetworkLibrary/obj/Debug/NetworkLibrary.dll
/Clock/NetworkLibrary/obj/Debug/NetworkLibrary.pdb
/Clock/XmlSerializer/bin/Debug/XmlSerializer.dll
/Clock/XmlSerializer/bin/Debug/XmlSerializer.pdb
/Clock/XmlSerializer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Clock/XmlSerializer/obj/Debug/XmlSerializer.csproj.FileListAbsolute.txt
/Clock/XmlSerializer/obj/Debug/XmlSerializer.csprojResolveAssemblyReference.cache
/Clock/XmlSerializer/obj/Debug/XmlSerializer.dll
/Clock/XmlSerializer/obj/Debug/XmlSerializer.pdb
